<!-- Header -->
<div class="header pb-6 pt-4 pt-lg-4 d-flex align-items-center" style="min-height: 400px;">
  <!-- Mask -->
  <span class="mask bg-gradient-primary"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hola <%= user.name || 'Jessica' %></h1>
        <p class="text-white mt-0 mb-4">Para cambiar tu nombre o tu contraseña de acceso, complete el siguiente formulario.</p>
       </div>
    </div>
  </div>
</div>
