<!-- Footer special-color-dark -->
<footer class="mt-4 page-footer font-small elegant-color lighten-2 pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: 
      <a href="https://www.linkedin.com/in/ignacio-d">Nacho Domingo</a> & 
      <a href="https://www.altocinema.com/"> AltoCinema</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->