<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#sidenav-collapse-main"
            aria-controls="sidenav-main"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="/">
            <img src="/img/logo.png" class="navbar-brand-img" alt="..." />
        </a>
        <!-- User -->
        <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                <a
                    class="nav-link"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <div class="media align-items-center">
                        <span class="mb-0 text-sm font-weight-bold"
                            ><%= user.name || 'Ooops you should restart' %></span
                        >
                    </div>
                </a>
                <%- include ('dropdown'); -%>
            </li>
        </ul>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="./dashboard">
                            <img src="/img/logo.png" class="img-fluid" />
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button
                            type="button"
                            class="navbar-toggler"
                            data-toggle="collapse"
                            data-target="#sidenav-collapse-main"
                            aria-controls="sidenav-main"
                            aria-expanded="false"
                            aria-label="Toggle sidenav"
                        >
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard"> <i class="ni ni-tv-2 text-primary"></i> Inicio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/festivals">
                        <i class="fas fa-film text-orange"></i> Festivales
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/films"> <i class="ni ni-planet text-blue"></i> Películas </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/producers">
                        <i class="ni ni-bullet-list-67 text-red"></i> Productores
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/platforms">
                        <i class="fas fa-hdd text-info"></i> Plataformas
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/directors">
                        <i class="far fa-address-card text-pink"></i> Directores
                    </a>
                </li>
            </ul>
            <!-- Divider -->
            <hr class="my-3" />
            <!-- Navigation -->
            <ul class="navbar-nav mb-md-3">
                <li class="nav-item">
                    <a class="nav-link" href="/settings"> <i class="fas fa-cog"></i> Herramientas </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prizes">
                        <i class="fas fa-trophy text-warning"></i> Premios
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
