
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Añadir película">
  <title>Añadir Película</title>
  <!--https://favicon.io/favicon-generator/ Monoton font-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="manifest" href="img/site.webmanifest">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
  <!-- Argon CSS -->
  <link type="text/css" href="css/argon.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/span.css">
  <!-- Bootstrap-select -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  </style>
</head>
 

<body>
  <!-- Sidenav -->
  <%- include ('partials/sidebar'); -%>
  <!-- Main content -->
  <div class="main-content">
    <!-- Page content -->
    <div class="container-fluid mt-4">
      <div class="row justify-content-center">
        <div class="col-xl-12 m-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Añadir película</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form id="addFilmForm" action="/addFilm" method="POST">
                <div class="pl-lg-4">
                  <% if (error.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <%= error %>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                      </button>
                    </div>
                  <% } %>
                  <div class="row">
                    <div class="col-lg-5 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="title">Título original*</label>
                        <input type="text" id="title" class="form-control form-control-alternative form-control-sm" name="title" placeholder="Jessica Jones" required>
                        </div>
                    </div>
                    <div class="col-lg-5 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="engtitle">Título en inglés*</label>
                        <input type="text" id="engtitle" class="form-control form-control-alternative form-control-sm" name="engtitle" placeholder="Jessica Jones (Eng)" required>
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="year">Año*</label>
                        <input type="number" id="year" class="form-control form-control-alternative form-control-sm" name="year" required>
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="productiondate">Fecha*</label>
                        <input type="date" id="date" class="form-control form-control-alternative form-control-sm" name="date" required>
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="color">Color*</label>
                        <select  class="form-control form-control-alternative form-control-sm" id="color" name="color" required>
                          <option disabled selected value> -- Seleccionar -- </option>
                          <option value="Color">Color</option>
                          <option value="ByN">Blanco y Negro</option>
                        </select> 
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="animationtechnique">Técnica de animación</label>
                        <input type="text" id="animationtechnique" class="form-control form-control-alternative form-control-sm" name="animationtechnique">
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="originalv">Versión original</label>
                        <input type="text" id="originalv" class="form-control form-control-alternative form-control-sm" name="originalv">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="genre">Género*</label>
                        <select class="form-control form-control-alternative form-control-sm" id="genre" name="genre" required>
                          <option disabled selected value> -- Seleccionar -- </option>
                          <option value="anim">Animación</option>
                          <option value="docu">Documental</option>
                          <option value="expe">Experimental</option>
                          <option value="ficc">Ficción</option>
                          <option value="vide">Videoclip</option>
                          <option value="VR">VR</option>
                        </select> 
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="duration">Duración*</label>
                        <input type="number" id="duration" class="form-control form-control-alternative form-control-sm" name="duration" required>   
                      </div>
                    </div>
                    <div class="col-lg-10 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="categories">Categorías*</label>
                        <select multiple class="selectpicker form-control form-control-alternative form-control-sm" id="categories" name="categories" data-actions-box="true" data-style="btn-light" required>
                          <option value="Envio0">Envio0</option>
                          <option value="Envio1">Envio1</option>
                          <option value="Envio2">Envio2</option>
                          <option value="Envio4">Envio4</option>
                          <option value="EnvioFee1">EnvioFee1</option>
                          <option value="EnvioFee2">EnvioFee2</option>
                          <option value="EnvioNo">EnvioNo</option>
                          <option value="Animacion">Animación</option>
                          <option value="Discapacidad">Discapacidad</option>
                          <option value="Documental">Documental</option>
                          <option value="Escuelas">Escuelas</option>
                          <option value="Etnografico">Etnográfico</option>
                          <option value="Experimental">Experimental</option>
                          <option value="Fantastico">Fantástico</option>
                          <option value="Fashion">Fashion</option>
                          <option value="Ficcion">Ficción </option>
                          <option value="General">General</option>
                          <option value="Infantil">Infantil</option>
                          <option value="Juvenil">Juvenil</option>
                          <option value="Sci-Fi">Sci-Fi</option>
                          <option value="Terror">Terror</option>
                          <option value="Videoclips">Videoclips</option>
                          <option value="VR">VR</option>
                          <option value="desde20">desde20</option>
                          <option value="desde30">desde30</option>
                          <option value="desde40">desde40</option>
                          <option value="desde45">desde45</option>
                          <option value="desde50">desde50</option>
                          <option value="desde60">desde60</option>
                          <option value="desde70">desde70</option>
                          <option value="hasta01">hasta01 </option>
                          <option value="hasta02">hasta02</option>
                          <option value="hasta03">hasta03</option>
                          <option value="hasta05">hasta05</option>
                          <option value="hasta10">hasta10</option>
                          <option value="hasta15">hasta15</option>
                          <option value="hasta20">hasta20</option>
                          <option value="hasta25">hasta25</option>
                          <option value="hasta30">hasta30</option>
                          <option value="hasta35">hasta35</option>
                          <option value="hasta40">hasta40</option>
                          <option value="hasta45">hasta45</option>
                          <option value="hasta50">hasta50</option>
                          <option value="hasta60">hasta60</option>
                          <option value="hasta70">hasta70 </option>
                          <option value="hasta75">hasta75</option>
                          <option value="hasta90">hasta90</option>
                          <option value="Comedia">Comedia</option>
                          <option value="Danza">Danza</option>
                          <option value="DDHH">DDHH</option>
                          <option value="Deporte">Deporte</option>
                          <option value="Edad26">Edad26</option>
                          <option value="Edad30">Edad30</option>
                          <option value="Edad35">Edad35</option>
                          <option value="Edad40">Edad40 </option>
                          <option value="Internet">Internet</option>
                          <option value="LGBT">LGBT</option>
                          <option value="MedioAmbiente">MedioAmbiente</option>
                          <option value="Movil">Movil</option>
                          <option value="Mujer">Mujer</option>
                          <option value="Poesia">Poesia</option>
                          <option value="PrimeraPeli">PrimeraPeli</option>
                          <option value="SubFrances">SubFrances</option>
                          <option value="SubItaliano">SubItaliano</option>
                          <option value="TemaFemenino">TemaFemenino</option>
                          <option value="Trabajo">Trabajo</option>
                          <option value="EFA">EFA</option>
                          <option value="FIAPF">FIAPF</option>
                          <option value="Goya">Goya </option>
                          <option value="Melies">Melies</option>
                          <option value="MM">MM</option>
                          <option value="Oscars">Oscars</option>
                          <option value="IP">IP</option>
                          <option value="NP">NP</option>
                          <option value="RP">RP</option>
                          <option value="WP">WP</option>
                          <option value="Alicantino">Alicantino</option>
                          <option value="Andaluz">Andaluz</option>
                          <option value="Aragones">Aragonés</option>
                          <option value="Asturiano">Asturiano</option>
                          <option value="Canario">Canario</option>
                          <option value="Catalan">Catalán</option>
                          <option value="Extremadura">Extremadura</option>
                          <option value="Frances">Francés</option>
                          <option value="Gallego">Gallego </option>
                          <option value="Italiano">Italiano</option>
                          <option value="Latino">Latino</option>
                          <option value="Leones">Leonés</option>
                          <option value="Malagueño">Malagueño</option>
                          <option value="Murciano">Murciano</option>
                          <option value="Navarro">Navarro</option>
                          <option value="Portugues">Portugués</option>
                          <option value="Riojano">Riojano</option>
                          <option value="Valenciano">Valenciano</option>
                          <option value="Vasco">Vasco</option>
                        </select> 
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="country">País*</label>
                        <input type="text" id="country" list="countries" class="form-control form-control-alternative form-control-sm" name="country" required>
                        <datalist id="countries">
                          <option value="AF">Afghanistan</option>
                          <option value="AX">Åland Islands</option>
                          <option value="ALB">Albania</option>
                          <option value="ALG">Algeria</option>
                          <option value="AS">American Samoa</option>
                          <option value="AND">Andorra</option>
                          <option value="AO">Angola</option>
                          <option value="AG">Antigua and Barbuda</option>
                          <option value="ARG">Argentina</option>
                          <option value="ARM">Armenia</option>
                          <option value="AW">Aruba</option>
                          <option value="AUS">Australia</option>
                          <option value="AT">Austria</option>
                          <option value="AZ">Azerbaijan</option>
                          <option value="BHS">Bahamas</option>
                          <option value="BHN">Bahrain</option>
                          <option value="BDH">Bangladesh</option>
                          <option value="BBS">Barbados</option>
                          <option value="BIE">Belarus</option>
                          <option value="BEL">Belgium</option>
                          <option value="BZ">Belize</option>
                          <option value="BJ">Benin</option>
                          <option value="BM">Bermuda</option>
                          <option value="BTN">Bhutan</option>
                          <option value="BOL">Bolivia</option>
                          <option value="BOS">Bosnia and Herzegovina</option>
                          <option value="BW">Botswana</option>
                          <option value="BV">Bouvet Island</option>
                          <option value="BRA">Brazil</option>
                          <option value="BN">Brunei Darussalam</option>
                          <option value="BGA">Bulgaria</option>
                          <option value="BF">Burkina Faso</option>
                          <option value="BUR">Burundi</option>
                          <option value="CAM">Cambodia</option>
                          <option value="CM">Cameroon</option>
                          <option value="CA">Canada</option>
                          <option value="CV">Cape Verde</option>
                          <option value="KY">Cayman Islands</option>
                          <option value="CF">Central African Republic</option>
                          <option value="TD">Chad</option>
                          <option value="CL">Chile</option>
                          <option value="CN">China</option>
                          <option value="CX">Christmas Island</option>
                          <option value="CC">Cocos (Keeling) Islands</option>
                          <option value="COL">Colombia</option>
                          <option value="KM">Comoros</option>
                          <option value="CG">Congo</option>
                          <option value="CD">Congo, the Democratic Republic of the</option>
                          <option value="CK">Cook Islands</option>
                          <option value="CR">Costa Rica</option>
                          <option value="CI">Côte d'Ivoire</option>
                          <option value="HR">Croatia</option>
                          <option value="CU">Cuba</option>
                          <option value="CW">Curaçao</option>
                          <option value="CY">Cyprus</option>
                          <option value="CZ">Czech Republic</option>
                          <option value="DK">Denmark</option>
                          <option value="DJ">Djibouti</option>
                          <option value="DM">Dominica</option>
                          <option value="DOM">Dominican Republic</option>
                          <option value="ECU">Ecuador</option>
                          <option value="EGI">Egypt</option>
                          <option value="SV">El Salvador</option>
                          <option value="GUI">Equatorial Guinea</option>
                          <option value="ERI">Eritrea</option>
                          <option value="EST">Estonia</option>
                          <option value="ET">Ethiopia</option>
                          <option value="FK">Falkland Islands (Malvinas)</option>
                          <option value="FO">Faroe Islands</option>
                          <option value="FJ">Fiji</option>
                          <option value="FIN">Finland</option>
                          <option value="FRA">France</option>
                          <option value="GF">French Guiana</option>
                          <option value="PF">French Polynesia</option>
                          <option value="TF">French Southern Territories</option>
                          <option value="GA">Gabon</option>
                          <option value="GM">Gambia</option>
                          <option value="GEO">Georgia</option>
                          <option value="DE">Germany</option>
                          <option value="GH">Ghana</option>
                          <option value="GIB">Gibraltar</option>
                          <option value="GRE">Greece</option>
                          <option value="GL">Greenland</option>
                          <option value="GD">Grenada</option>
                          <option value="GP">Guadeloupe</option>
                          <option value="GU">Guam</option>
                          <option value="GT">Guatemala</option>
                          <option value="GG">Guernsey</option>
                          <option value="GN">Guinea</option>
                          <option value="GW">Guinea-Bissau</option>
                          <option value="GY">Guyana</option>
                          <option value="HT">Haiti</option>
                          <option value="HM">Heard Island and McDonald Islands</option>
                          <option value="VA">Holy See (Vatican City State)</option>
                          <option value="HN">Honduras</option>
                          <option value="HK">Hong Kong</option>
                          <option value="HU">Hungary</option>
                          <option value="IS">Iceland</option>
                          <option value="IN">India</option>
                          <option value="ID">Indonesia</option>
                          <option value="IR">Iran, Islamic Republic of</option>
                          <option value="IQ">Iraq</option>
                          <option value="IRL">Ireland</option>
                          <option value="IM">Isle of Man</option>
                          <option value="ISR">Israel</option>
                          <option value="ITA">Italy</option>
                          <option value="JM">Jamaica</option>
                          <option value="JAP">Japan</option>
                          <option value="JE">Jersey</option>
                          <option value="JOR">Jordan</option>
                          <option value="KZ">Kazakhstan</option>
                          <option value="KEN">Kenya</option>
                          <option value="KI">Kiribati</option>
                          <option value="KP">Korea, Democratic People's Republic of</option>
                          <option value="KR">Korea, Republic of</option>
                          <option value="KW">Kuwait</option>
                          <option value="KG">Kyrgyzstan</option>
                          <option value="LA">Lao People's Democratic Republic</option>
                          <option value="LV">Latvia</option>
                          <option value="LB">Lebanon</option>
                          <option value="LS">Lesotho</option>
                          <option value="LR">Liberia</option>
                          <option value="LY">Libya</option>
                          <option value="LIE">Liechtenstein</option>
                          <option value="LIT">Lithuania</option>
                          <option value="LUX">Luxembourg</option>
                          <option value="MAC">Macao</option>
                          <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                          <option value="MG">Madagascar</option>
                          <option value="MW">Malawi</option>
                          <option value="MY">Malaysia</option>
                          <option value="MV">Maldives</option>
                          <option value="ML">Mali</option>
                          <option value="MT">Malta</option>
                          <option value="MH">Marshall Islands</option>
                          <option value="MQ">Martinique</option>
                          <option value="MR">Mauritania</option>
                          <option value="MU">Mauritius</option>
                          <option value="YT">Mayotte</option>
                          <option value="MEX">Mexico</option>
                          <option value="FM">Micronesia, Federated States of</option>
                          <option value="MD">Moldova, Republic of</option>
                          <option value="MON">Monaco</option>
                          <option value="MNG">Mongolia</option>
                          <option value="ME">Montenegro</option>
                          <option value="MS">Montserrat</option>
                          <option value="MAR">Morocco</option>
                          <option value="MZ">Mozambique</option>
                          <option value="MM">Myanmar</option>
                          <option value="NA">Namibia</option>
                          <option value="NR">Nauru</option>
                          <option value="NP">Nepal</option>
                          <option value="NL">Netherlands</option>
                          <option value="NC">New Caledonia</option>
                          <option value="NZ">New Zealand</option>
                          <option value="NI">Nicaragua</option>
                          <option value="NE">Niger</option>
                          <option value="NG">Nigeria</option>
                          <option value="NU">Niue</option>
                          <option value="NF">Norfolk Island</option>
                          <option value="MP">Northern Mariana Islands</option>
                          <option value="NO">Norway</option>
                          <option value="OM">Oman</option>
                          <option value="PK">Pakistan</option>
                          <option value="PW">Palau</option>
                          <option value="PS">Palestinian Territory, Occupied</option>
                          <option value="PA">Panama</option>
                          <option value="PG">Papua New Guinea</option>
                          <option value="PY">Paraguay</option>
                          <option value="PE">Peru</option>
                          <option value="PH">Philippines</option>
                          <option value="PN">Pitcairn</option>
                          <option value="PL">Poland</option>
                          <option value="PT">Portugal</option>
                          <option value="PR">Puerto Rico</option>
                          <option value="QA">Qatar</option>
                          <option value="RE">Réunion</option>
                          <option value="RO">Romania</option>
                          <option value="RU">Russian Federation</option>
                          <option value="RW">Rwanda</option>
                          <option value="BL">Saint Barthélemy</option>
                          <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                          <option value="KN">Saint Kitts and Nevis</option>
                          <option value="LC">Saint Lucia</option>
                          <option value="MF">Saint Martin (French part)</option>
                          <option value="PM">Saint Pierre and Miquelon</option>
                          <option value="VC">Saint Vincent and the Grenadines</option>
                          <option value="WS">Samoa</option>
                          <option value="SM">San Marino</option>
                          <option value="ST">Sao Tome and Principe</option>
                          <option value="SA">Saudi Arabia</option>
                          <option value="SN">Senegal</option>
                          <option value="SER">Serbia</option>
                          <option value="SC">Seychelles</option>
                          <option value="SL">Sierra Leone</option>
                          <option value="SG">Singapore</option>
                          <option value="SX">Sint Maarten (Dutch part)</option>
                          <option value="SK">Slovakia</option>
                          <option value="SI">Slovenia</option>
                          <option value="SB">Solomon Islands</option>
                          <option value="SO">Somalia</option>
                          <option value="ZA">South Africa</option>
                          <option value="GS">South Georgia and the South Sandwich Islands</option>
                          <option value="SS">South Sudan</option>
                          <option value="ESP">Spain</option>
                          <option value="LK">Sri Lanka</option>
                          <option value="SD">Sudan</option>
                          <option value="SR">Suriname</option>
                          <option value="SJ">Svalbard and Jan Mayen</option>
                          <option value="SZ">Swaziland</option>
                          <option value="SE">Sweden</option>
                          <option value="CH">Switzerland</option>
                          <option value="SY">Syrian Arab Republic</option>
                          <option value="TW">Taiwan, Province of China</option>
                          <option value="TJ">Tajikistan</option>
                          <option value="TZ">Tanzania, United Republic of</option>
                          <option value="TH">Thailand</option>
                          <option value="TL">Timor-Leste</option>
                          <option value="TG">Togo</option>
                          <option value="TK">Tokelau</option>
                          <option value="TO">Tonga</option>
                          <option value="TT">Trinidad and Tobago</option>
                          <option value="TN">Tunisia</option>
                          <option value="TR">Turkey</option>
                          <option value="TM">Turkmenistan</option>
                          <option value="TC">Turks and Caicos Islands</option>
                          <option value="TV">Tuvalu</option>
                          <option value="UG">Uganda</option>
                          <option value="UCR">Ukraine</option>
                          <option value="AE">United Arab Emirates</option>
                          <option value="UK">United Kingdom</option>
                          <option value="US">United States</option>
                          <option value="UM">United States Minor Outlying Islands</option>
                          <option value="UY">Uruguay</option>
                          <option value="UZ">Uzbekistan</option>
                          <option value="VU">Vanuatu</option>
                          <option value="VEN">Venezuela, Bolivarian Republic of</option>
                          <option value="VN">Viet Nam</option>
                          <option value="VG">Virgin Islands, British</option>
                          <option value="VI">Virgin Islands, U.S.</option>
                          <option value="WF">Wallis and Futuna</option>
                          <option value="EH">Western Sahara</option>
                          <option value="YE">Yemen</option>
                          <option value="ZM">Zambia</option>
                          <option value="ZW">Zimbabwe</option>
                        </datalist>
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="screen">Pantalla*</label>
                        <input type="text" id="screen" class="form-control form-control-alternative form-control-sm" name="screen" required>
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="shootingplace">Lugar de rodaje*</label>
                        <input type="text" id="shootingplace" class="form-control form-control-alternative form-control-sm" name="shootingplace" required>
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="catalogue">Catálogo*</label>
                        <select  class="form-control form-control-alternative form-control-sm" id="catalogue" name="catalogue" required>
                          <option disabled selected value> -- Seleccionar -- </option>
                          <option value="AltoCinema">AltoCinema</option>
                          <option value="NouvelleCinema">NouvelleCinema</option>
                          <option value="ComingOutCinema">ComingOutCinema</option>
                        </select> 
                      </div>
                    </div>
                    <div class="col-lg-12 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="sinopsis">Sinopsis en idioma original*</label>
                        <textarea name="sinopsis" id="sinopsis" class="form-control form-control-alternative form-control-sm" rows="3" required></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="eng_sinopsis">Sinopsis en inglés*</label>
                        <textarea name="eng_sinopsis" id="eng_sinopsis" class="form-control form-control-alternative form-control-sm" rows="3" required></textarea>
                      </div>
                    </div>
                    <div class="col-lg-12 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="esp_sinopsis">Sinopsis en español</label>
                        <textarea name="esp_sinopsis" id="esp_sinopsis" class="form-control form-control-alternative form-control-sm" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="materialslink">Enlace de materiales</label>
                        <input type="url" id="materialslink" class="form-control form-control-alternative form-control-sm" name="materialslink">
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="link">Enlace copias</label>
                        <input type="url" id="link" class="form-control form-control-alternative form-control-sm" name="link"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="originalvimeo">Vimeo original</label>
                        <input type="url" id="originalvimeo" class="form-control form-control-alternative form-control-sm" name="originalvimeo"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="originalvimeo">Contraseña original</label>
                        <input type="text" id="originalvimeopass" class="form-control form-control-alternative form-control-sm" name="originalvimeopass"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="spavimeo">Vimeo español</label>
                        <input type="url" id="spavimeo" class="form-control form-control-alternative form-control-sm" name="spavimeo"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="spavimeopass">Contraseña español</label>
                        <input type="text" id="spavimeopass" class="form-control form-control-alternative form-control-sm" name="spavimeopass"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="englishvimeo">Vimeo en inglés</label>
                        <input type="url" id="englishvimeo" class="form-control form-control-alternative form-control-sm" name="englishvimeo"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="englishvimeopass">Contraseña inglés</label>
                        <input type="text" id="englishvimeopass" class="form-control form-control-alternative form-control-sm" name="englishvimeopass"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="frenchvimeo">Vimeo en francés</label>
                        <input type="url" id="frenchvimeo" class="form-control form-control-alternative form-control-sm" name="frenchvimeo"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="frenchvimeopass">Contraseña francés</label>
                        <input type="text" id="frenchvimeopass" class="form-control form-control-alternative form-control-sm" name="frenchvimeopass"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="italianvimeo">Vimeo en italiano</label>
                        <input type="url" id="italianvimeo" class="form-control form-control-alternative form-control-sm" name="italianvimeo">
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="italianvimeopass">Contraseña italiano</label>
                        <input type="text" id="italianvimeopass" class="form-control form-control-alternative form-control-sm" name="italianvimeopass"  >
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="trailer">Trailer VO</label>
                        <input type="url" id="trailer" class="form-control form-control-alternative form-control-sm" name="trailer">
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="trailereng">Trailer Inglés</label>
                        <input type="url" id="trailereng" class="form-control form-control-alternative form-control-sm" name="trailereng">
                      </div>
                    </div>
                    <div class="col-lg-6 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="traileresp">Trailer Español</label>
                        <input type="url" id="traileresp" class="form-control form-control-alternative form-control-sm" name="traileresp">
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                        <label class="form-control-label text-warning" for="addcatalogue">Añadir al catálogo</label>
                        <select  class="form-control form-control-alternative form-control-sm" id="addcatalogue" name="addcatalogue" required>
                          <option disabled selected value> -- Seleccionar -- </option>
                          <option value="0">No</option>
                          <option value="1">Sí</option>
                        </select> 
                      </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                        <label class="form-control-label" for="picture">Imagen Web</label>
                        <input type="url" id="picture" class="form-control form-control-alternative form-control-sm" name="picture">
                      </div>
                    </div>
                    <h2><span>FICHA TÉCNICA</span></h2>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <label class="form-control-label" for="director">Director*</label>
                          <input type="text" id="director" class="form-control form-control-alternative form-control-sm" name="director" required>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                          <label class="form-control-label" for="script">Guión</label>
                          <input type="text" id="script" class="form-control form-control-alternative form-control-sm" name="script">
                      </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="photography">Fotografía</label>
                            <input type="text" id="photography" class="form-control form-control-alternative form-control-sm" name="photography">
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="artistic">Dirección artística</label>
                            <input type="text" id="artistic" class="form-control form-control-alternative form-control-sm" name="artistic">
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="soundtrack">Música</label>
                            <input type="text" id="soundtrack" class="form-control form-control-alternative form-control-sm" name="soundtrack">
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="montage">Montaje</label>
                          <input type="text" id="montage" class="form-control form-control-alternative form-control-sm" name="montage">
                      </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="producer">Productor*</label>
                          <input type="text" id="producer" class="form-control form-control-alternative form-control-sm" name="producer" required>
                      </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="animation">Animación</label>
                          <input type="text" id="animation" class="form-control form-control-alternative form-control-sm" name="animation">
                      </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="sound">Sonido</label>
                          <input type="text" id="sound" class="form-control form-control-alternative form-control-sm" name="sound">
                      </div>
                    </div>
                    <div class="col-lg-12 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="interpreter">Intérpretes</label>
                          <input type="text" id="interpreter" class="form-control form-control-alternative form-control-sm" name="interpreter">
                      </div>
                    </div>
                    <h2><span>EMPRESA</span></h2>
                    <div class="col-lg-4 my--2">
                        <div class="form-group">
                            <label class="form-control-label" for="copiesheader">Encabezado</label>
                            <input type="text" id="copiesheader" class="form-control form-control-alternative form-control-sm" name="copiesheader">
                        </div>
                    </div>
                    <div class="col-lg-4 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiesstreet">Calle</label>
                          <input type="text" id="copiesstreet" class="form-control form-control-alternative form-control-sm" name="copiesstreet">
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiescp">Código postal</label>
                          <input type="text" id="copiescp" class="form-control form-control-alternative form-control-sm" name="copiescp">
                      </div>
                    </div>
                    <div class="col-lg-2 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="NIF">NIF/CIF</label>
                          <input type="text" id="NIF" class="form-control form-control-alternative form-control-sm" name="NIF">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiestel">Telef portada</label>
                          <input type="tel" id="copiestel" class="form-control form-control-alternative form-control-sm" name="copiestel">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiescity">Localidad</label>
                          <input type="text" id="copiescity" class="form-control form-control-alternative form-control-sm" name="copiescity">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiesprovince">Provincia</label>
                          <input type="text" id="copiesprovince" class="form-control form-control-alternative form-control-sm" name="copiesprovince">
                      </div>
                    </div>
                    <div class="col-lg-3 my--2">
                      <div class="form-group">
                          <label class="form-control-label" for="copiescountry">País</label>
                          <input type="text" id="copiescountry" class="form-control form-control-alternative form-control-sm" name="copiescountry">
                      </div>
                    </div> 
                    <div class="col-lg-12 text-center">
                      <button class="btn btn-success mt-3 mb-2">Guardar</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include scripts -->
  <%- include ('partials/scripts'); -%>
</body>

</html>