<!DOCTYPE html>
<html lang="es">
<head>
  <title>Alto Cinema</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200&display=swap" rel="stylesheet"> 
  <!--https://favicon.io/favicon-generator/ Monoton font-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="manifest" href="img/site.webmanifest">
  
  <link href="css/frontpage.css" rel="stylesheet">
   
</head>
<body>
    <nav class="navbar navbar-expand-md scrolling-navbar fixed-top navbar-dark elegant-color lighten-2">
        <a class="navbar-brand" href="/"> 
            <img class="img-fluid max-size" src="img/white-logo.png" alt="ALTO CINEMA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item m-2">
                <a class="nav-link waves-effect waves-light py-2 px-3 text-uppercase" href="/">Quiénes somos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link waves-effect waves-light py-2 px-3 text-uppercase" href="/services">Servicios</a>
                </li>
                <li class="nav-item dropdown active m-2">
                    <a class="nav-link dropdown-toggle waves-effect waves-light py-2 px-3 text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Catálogos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item active" href="/catalogue">AltoCinema</a>
                      <a class="dropdown-item" href="/nouvelleCinema">NouvelleCinema</a>
                      <a class="dropdown-item" href="/comingOutCinema">ComingOutCinema</a>
                    </div>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link waves-effect waves-light py-2 px-3 text-uppercase" href="/contact">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content container">
        <!-- Container -->
        <div class="row">
            <div class="col-12 d-flex center align-items-center justify-content-center m-3">
                <img class="img-fluid catalogue-logo" src="img/white-logo.png" alt="ALTO CINEMA">
            </div>
            <div class="col-12 d-flex center align-items-center justify-content-center pb-2 m-1">
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
            </div>
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
  
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
        
            <!--Card-->
            <div class="card">
        
                <!--Card content-->
                <div class="card-body elegant-color">
                <!--Title-->
                <h4 class="card-title text-light">Card title</h4>
                <!--Text-->
                <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                    eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur
                    a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                    doloribus asperiores repellat.</p>
                </div>
        
            </div>
            <!--/.Card-->
        
            </div>
            <!-- Column -->
        
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
        
            <!--Card-->
            <div class="card">
        
                <!--Card image-->
                <div class="view">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(133).jpg" class="card-img-top"
                    alt="">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
                </div>
        
                <!--Card content-->
                <div class="card-body elegant-color">
                <!--Title-->
                <h4 class="card-title text-light">Card title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                </div>
  
                </div>
                <!--/.Card-->¡
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <div class="view">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"alt="">
                        <a href="#">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
            
                    <!--Card content-->
                    <div class="card-body elegant-color">
                        <!--Title-->
                        <h4 class="card-title text-light">Card title</h4>
                        <!--Text-->
                        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                            praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                            occaecati cupiditate non provident, similique sunt in culpa</p>
                    </div>
                </div>
                <!--/.Card-->
            </div>
            <!-- Column -->
        </div>
        <!-- Container -->
    </div>
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</body>
</html>