<!DOCTYPE html>
<html lang="es">
<head>
  <title>Alto Cinema</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200&display=swap" rel="stylesheet"> 
  <!--https://favicon.io/favicon-generator/ Monoton font-->
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
  <link rel="manifest" href="img/site.webmanifest">
  
  <link href="css/frontpage.css" rel="stylesheet">
   
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-dark elegant-color-dark">
        <a class="navbar-brand" href="#"> 
            <img class="img-fluid max-size" src="img/white-logo.png" alt="ALTO CINEMA">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item m-2">
                <a class="nav-link waves-effect waves-light py-2 px-3 text-uppercase" href="/">Quiénes somos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link waves-effect waves-light py-2 px-3 text-uppercase" href="/services">Servicios</a>
                </li>
                <li class="nav-item m-2">
                    <a class="nav-link waves-effect waves-light py-2 px-3 text-uppercase" href="/catalogue">Catálogo</a>
                </li>
                <li class="nav-item active m-2">
                    <a class="nav-link waves-effect waves-light py-2 px-3 text-uppercase" href="/contact">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="animated fadeIn content container text-light">
        <h3 class="text-center mb-4">Contacto</h3>
        <div class="row test align-items-center">
            <div class="col-md-6 contact p-4">
                <p class="mb-5">Contacta con nosotros a través de cualquiera de nuestros canales y te responderemos a la menor brevedad posible:</p>
                <p><i class="mr-2 fas fa-map-marked-alt"></i>  Getafe, ESP</p>
                <p><i class="mr-2 fas fa-phone"></i>  Teléfono: +00 1515151515</p>
                <p><i class="mr-2 fas fa-envelope"></i>  Email: altocinema@altocinema.com</p>
                <p><i class="mr-2 fab fa-twitter"></i>  Twitter: @altocinema</p>
                <p><i class="mr-2 fab fa-instagram"></i>  Instagram: @altocinema</p>
            </div>
            <div class="col-md-6 map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48682.961824993865!2d-3.7694212309544497!3d40.304950070678714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42209a1ebb8201%3A0x20c3fa90b7e442fc!2sGetafe%2C%20Madrid!5e0!3m2!1ses!2ses!4v1594647302161!5m2!1ses!2ses" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
            </div>
            </div>
      </div> 
  <!-- JQuery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</body>
</html>