.nav-link {
    font-family: Montserrat;
    letter-spacing: 5px;
    font-size: small;
}

body {
    background-color: #212121;
}

.content {
    padding-top: 15vh;
}

.carousel-inner {
    max-height: 100vh;
    
}

.carousel-inner img {
    max-height: 100vh;
}

.glyphicon {
    color: silver !important;
}

.my-auto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.contact {
    background-color: rgba(173, 171, 172, 0.2);
    padding: 28px;
    opacity: 0.9;
    border-radius: 8px;
}

.max-size  {
    max-height: 3vh;
}